{% if ansible_distribution == 'Debian' %}
deb http://ftp.cz.debian.org/debian/ {{ ansible_distribution_release }} main contrib non-free
deb-src http://ftp.cz.debian.org/debian/ {{ ansible_distribution_release }} main contrib non-free

deb http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib non-free
deb-src http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib non-free

deb http://ftp.cz.debian.org/debian/ {{ ansible_distribution_release }}-updates main contrib non-free
deb-src http://ftp.cz.debian.org/debian/ {{ ansible_distribution_release }}-updates main contrib non-free
{% elif ansible_distribution == 'Ubuntu' %}
deb http://cz.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} main restricted universe multiverse
deb-src http://cz.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} main restricted universe multiverse

deb http://cz.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-updates main restricted universe multiverse
deb-src http://cz.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-updates main restricted universe multiverse

deb http://cz.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-security main restricted universe multiverse
deb-src http://cz.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-security main restricted universe multiverse
{% elif ansible_distribution == 'Linux Mint' %}
deb http://mirrors.nic.cz/linuxmint-packages/ {{ ansible_distribution_release }} main upstream import backport
{% if ansible_distribution_release == 'cindy' %}
deb http://extra.linuxmint.com/ {{ ansible_distribution_release }} main
{% endif %}
deb http://cz.archive.ubuntu.com/ubuntu {{ ansible_lsb.codename }} main restricted universe multiverse
deb http://cz.archive.ubuntu.com/ubuntu {{ ansible_lsb.codename }}-updates main restricted universe multiverse
deb http://cz.archive.ubuntu.com/ubuntu {{ ansible_lsb.codename }}-security main restricted universe multiverse
{% endif %}
